In [1]:
# Dependencies and Setup
import json
import pandas as pd
import requests
import numpy as py
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float, Date
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine, inspect, func, distinct
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import sqlite3

In [2]:
from sqlite3 import Error

In [3]:
engine = create_engine("sqlite:///../SqLIte_files/NBAfantasyML.sqlite")
conn = engine.connect()

In [4]:
# create function to try and connect to a sqlite database.  if it doesn't work, create one...
def create_connection(db_file):
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        conn.close()

In [5]:
if __name__ == '__main__':
    create_connection("../SqLIte_files/NBAfantasyML.sqlite")

2.6.0

In [6]:
#Bring in data from internet as object then convert ot Json
schedule_response_obj=requests.get("http://data.nba.net/prod/v1/2018/schedule.json")
schedule_response=schedule_response_obj.json()

In [7]:
# OPEN ITEMS!!!!!!!
# If statement to exclude if tags = "pre-season"
# tags=schedule_response_list["tags"]
#     item_dict["tags"]=item["tags"]

#Bring in elements for NBA Schedule
NBA_Schedule=[]
for item in schedule_response["league"]["standard"]:
    item_dict={}
    item_dict["gameID"]=item["gameId"]
    item_dict["startDateEastern"]=item["startDateEastern"]
    item_dict["hTeam"]=item["hTeam"]["teamId"]
    item_dict["vTeam"]=item["vTeam"]["teamId"]
    item_dict["national_broadcast"]=item["watch"]["broadcast"]["video"]["national"]["broadcasters"]
    item_dict["seasonStageId"]=item["seasonStageId"]
    # Create an Object list to store NBA Game Information
    NBA_Schedule.append(item_dict)

In [8]:
NBA_Schedule_DF_initial=pd.DataFrame(NBA_Schedule)
NBA_Schedule_DF_w_details=NBA_Schedule_DF_initial[["startDateEastern","gameID","vTeam","hTeam","national_broadcast","seasonStageId"]]
NBA_Schedule_DF_w_details

,startDateEastern,gameID,vTeam,hTeam,national_broadcast,seasonStageId
0,20180928,0011800001,15016,1610612755,[],1
1,20180928,0011800002,1610612738,1610612766,"[{'shortName': 'NBA TV', 'longName': 'NBA TV'}]",1
2,20180929,0011800003,1610612757,1610612761,[],1
3,20180929,0011800004,15021,1610612742,[],1
4,20180929,0011800005,1610612750,1610612744,"[{'shortName': 'NBA TV', 'longName': 'NBA TV'}]",1
5,20180929,0011800006,104,1610612762,[],1
6,20180930,0011800007,1610612748,1610612759,"[{'shortName': 'NBA TV', 'longName': 'NBA TV'}]",1
7,20180930,0011800008,1610612766,1610612738,[],1
8,20180930,0011800009,1610612740,1610612741,"[{'shortName': 'NBA TV', 'longName': 'NBA TV'}]",1
9,20180930,0011800010,1610612743,1610612747,"[{'shortName': 'ESPN', 'longName': 'ESPN'}]",1
10,20180930,0011800011,15015,1610612746,[],1
11,20181001,0011800012,1610612753,1610612755,"[{'shortName': 'NBA TV', 'longName': 'NBA TV'}]",1
12,20181001,0011800013,1610612752,1610612764,[],1
13,20181001,0011800014,1610612740,1610612737,[],1
14,20181001,0011800015,1610612758,1610612756,[],1
15,20181002,0011800016,1610612748,1610612766,[],1
16,20181002,0011800017,1610612739,1610612738,"[{'shortName': 'TNT', 'longName': 'Turner Netw...",1
17,20181002,0011800018,1610612763,1610612745,[],1
18,20181002,0011800019,1610612761,1610612762,[],1
19,20181002,0011800020,1610612743,1610612747,"[{'shortName': 'TNT', 'longName': 'Turner Netw...",1
20,20181003,0011800021,1610612752,1610612751,[],1
21,20181003,0011800022,1610612741,1610612749,"[{'shortName': 'NBA TV', 'longName': 'NBA TV'}]",1
22,20181003,0011800023,1610612765,1610612760,[],1
23,20181003,0011800024,15020,1610612756,[],1
24,20181003,0011800025,1610612750,1610612746,"[{'shortName': 'NBA TV', 'longName': 'NBA TV'}]",1
25,20181004,0011800026,1610612754,1610612745,"[{'shortName': 'NBA TV', 'longName': 'NBA TV'}]",1
26,20181004,0011800027,1610612758,1610612747,"[{'shortName': 'NBA TV', 'longName': 'NBA TV'}]",1
27,20181005,0011800028,1610612755,1610612742,"[{'shortName': 'NBA TV', 'longName': 'NBA TV'}]",1
28,20181005,0011800029,12325,1610612753,[],1
29,20181005,0011800030,15016,1610612761,[],1
...,...,...,...,...,...,...
1279,20190407,0021801200,1610612756,1610612745,"[{'shortName': 'NBA TV', 'longName': 'NBA TV'}]",2
1280,20190407,0021801202,1610612737,1610612749,[],2
1281,20190407,0021801203,1610612753,1610612738,[],2
1282,20190407,0021801204,1610612764,1610612752,[],2
1283,20190407,0021801205,1610612746,1610612744,"[{'shortName': 'NBA TV', 'longName': 'NBA TV'}]",2
1284,20190407,0021801206,1610612743,1610612757,[],2
1285,20190407,0021801207,1610612740,1610612758,[],2
1286,20190407,0021801208,1610612762,1610612747,[],2
1287,20190409,0021801209,1610612766,1610612739,[],2
1288,20190409,0021801210,1610612763,1610612765,[],2
1289,20190409,0021801211,1610612738,1610612764,"[{'shortName': 'TNT', 'longName': 'Turner Netw...",2
1290,20190409,0021801212,1610612755,1610612748,[],2
1291,20190409,0021801213,1610612752,1610612741,[],2
1292,20190409,0021801214,1610612761,1610612750,[],2
1293,20190409,0021801215,1610612744,1610612740,[],2
1294,20190409,0021801216,1610612756,1610612742,[],2
1295,20190409,0021801217,1610612743,1610612762,[],2
1296,20190409,0021801218,1610612745,1610612760,"[{'shortName': 'TNT', 'longName': 'Turner Netw...",2
1297,20190409,0021801219,1610612757,1610612747,[],2
1298,20190410,0021801220,1610612754,1610612737,[],2
1299,20190410,0021801221,1610612748,1610612751,[],2
1300,20190410,0021801222,1610612753,1610612766,"[{'shortName': 'ESPN', 'longName': 'ESPN'}]",2
1301,20190410,0021801223,1610612765,1610612752,[],2
1302,20190410,0021801224,1610612741,1610612755,[],2
1303,20190410,0021801225,1610612744,1610612763,[],2
1304,20190410,0021801226,1610612760,1610612749,[],2
1305,20190410,0021801227,1610612742,1610612759,[],2
1306,20190410,0021801228,1610612750,1610612743,"[{'shortName': 'ESPN', 'longName': 'ESPN'}]",2
1307,20190410,0021801229,1610612762,1610612746,[],2
1308,20190410,0021801230,1610612758,1610612757,[],2

In [9]:
Box_scores =[{}]
games_response_count=schedule_response["league"]["standard"]
game_number=len(games_response_count)
game_number

1309

In [10]:
NBA_Schedule_DF_GameId=NBA_Schedule_DF_initial[["gameID"]]
NBA_Schedule_DF_GameDate=NBA_Schedule_DF_initial[["startDateEastern"]]
# Load NBA_TEAMS table
# NBA_Schedule_DF_Game_Date.to_sql('NBA_SCHEDULE_GAME_DATE',conn, if_exists='replace', index=False)

          gameID
0     0011800001
1     0011800002
2     0011800003
3     0011800004
4     0011800005
5     0011800006
6     0011800007
7     0011800008
8     0011800009
9     0011800010
10    0011800011
11    0011800012
12    0011800013
13    0011800014
14    0011800015
15    0011800016
16    0011800017
17    0011800018
18    0011800019
19    0011800020
20    0011800021
21    0011800022
22    0011800023
23    0011800024
24    0011800025
25    0011800026
26    0011800027
27    0011800028
28    0011800029
29    0011800030
...          ...
1279  0021801200
1280  0021801202
1281  0021801203
1282  0021801204
1283  0021801205
1284  0021801206
1285  0021801207
1286  0021801208
1287  0021801209
1288  0021801210
1289  0021801211
1290  0021801212
1291  0021801213
1292  0021801214
1293  0021801215
1294  0021801216
1295  0021801217
1296  0021801218
1297  0021801219
1298  0021801220
1299  0021801221
1300  0021801222
1301  0021801223
1302  0021801224
1303  0021801225
1304  0021801226
1305  0021801227
1306  0021801228
1307  0021801229
1308  0021801230

[1309 rows x 1 columns]

In [15]:
test_1=F"data.nba.net/prod/v1/{NBA_Schedule_DF_GameDate[number_games_lst]}"
print(test_1)

KeyError: 0

In [16]:
for i in range(0,game_number):
    number_games_lst=i
    print(i)
    URL1="data.nba.net/prod/v1/"
    URL2= NBA_Schedule[number_games_lst]
    test=URL1+URL2
    print(test)
    URL3="/"
    test=URL1+URL2+URL3
    print(test)
#     URL4= NBA_Schedule_DF_GameId[number_games_lst]
#     URL5="_boxscore.json"
#     URL_pull=URL1+URL2+URL3+URL4+URL5
#     print(URL_pull)

0

TypeError: must be str, not dict