In [93]:
# Dependencies and Setup
import pandas as pd
import json
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float, Date
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine, inspect, func, distinct
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import sqlite3
from sqlite3 import Error

In [95]:
schedule_response_obj=requests.get("http://data.nba.net/prod/v1/2018/schedule.json")
schedule_response=schedule_response_obj.json()

In [97]:
games_response_count=schedule_response["league"]["standard"]

In [98]:
# Get elements
NBA_Schedule=[]
for item in schedule_response["league"]["standard"]:
    item_dict={}
    item_dict["gameId"] = item["gameId"]
    item_dict["startDateEastern"] = item["startDateEastern"]
    item_dict["hTeam"] = item["hTeam"]["teamId"]
    item_dict["vTeam"] = item["vTeam"]["teamId"]

    # Append List
    NBA_Schedule.append({"gameid":item_dict["gameId"],
                         "gamedate":item_dict["startDateEastern"],
                         "hteam":item_dict["hTeam"],
                         "vteam":item_dict["vTeam"]})

In [99]:
NBA_Schedule_DF_initial=pd.DataFrame(NBA_Schedule)
NBA_Schedule_DF_initial["gameid"]=NBA_Schedule_DF_initial["gameid"].astype(int)
NBA_Schedule_DF_initial["hteam"]=NBA_Schedule_DF_initial["hteam"].astype(int)
NBA_Schedule_DF_initial["vteam"]=NBA_Schedule_DF_initial["vteam"].astype(int)

NBA_Schedule_DF_initial["gamedate"]=pd.to_datetime(NBA_Schedule_DF_initial['gamedate'])

NBA_Schedule_DF_initial.head()

    gamedate    gameid       hteam       vteam
0 2018-09-28  11800001  1610612755       15016
1 2018-09-28  11800002  1610612766  1610612738
2 2018-09-29  11800003  1610612761  1610612757
3 2018-09-29  11800004  1610612742       15021
4 2018-09-29  11800005  1610612744  1610612750

In [100]:
NBA_Schedule_DF_initial.head()  
#October 16, 2018 Season start

    gamedate    gameid       hteam       vteam
0 2018-09-28  11800001  1610612755       15016
1 2018-09-28  11800002  1610612766  1610612738
2 2018-09-29  11800003  1610612761  1610612757
3 2018-09-29  11800004  1610612742       15021
4 2018-09-29  11800005  1610612744  1610612750

In [101]:
#Load home team_data
NBA_Schedule_DF_initial_1=NBA_Schedule_DF_initial[NBA_Schedule_DF_initial["gamedate"] >= '2018-10-16']
nba_cols = ["gamedate", "gameid", "hteam"]
NBA_Schedule_DF_initial_1a= NBA_Schedule_DF_initial_1[nba_cols].copy()
NBA_Schedule_DF_initial_1b = NBA_Schedule_DF_initial_1a.rename(columns={"hteam": "teamid"})
NBA_Schedule_DF_initial_1b['home_ind'] = 1

In [102]:
#Load visitor team_data
NBA_Schedule_DF_initial_2=NBA_Schedule_DF_initial[NBA_Schedule_DF_initial["gamedate"] >= '2018-10-16']
nba_cols = ["gamedate", "gameid", "vteam"]
NBA_Schedule_DF_initial_2a= NBA_Schedule_DF_initial_2[nba_cols].copy()
NBA_Schedule_DF_initial_2b = NBA_Schedule_DF_initial_2a.rename(columns={"vteam": "teamid"})
NBA_Schedule_DF_initial_2b['home_ind'] = 0

In [104]:
NBA_Schedule_DF = pd.concat([NBA_Schedule_DF_initial_1b,NBA_Schedule_DF_initial_2b])

In [105]:
engine = create_engine("sqlite:///db/NBA_Data.sqlite")
conn = engine.connect()

engine.table_names()

['NBA_Teams', 'Team_Locations', 'Team_Schedule', 'ranked_2016_2017']

In [106]:
# Set index
NBA_Schedule_DF.set_index("teamid", inplace=True)

# load final df into sqlite database
NBA_Schedule_DF.to_sql('Team_Schedule', conn, if_exists='replace', index=True)

In [107]:
pd.read_sql('select * from Team_Schedule', conn)

          teamid                    gamedate    gameid  home_ind
0     1610612738  2018-10-16 00:00:00.000000  21800001         1
1     1610612744  2018-10-16 00:00:00.000000  21800002         1
2     1610612766  2018-10-17 00:00:00.000000  21800003         1
3     1610612765  2018-10-17 00:00:00.000000  21800004         1
4     1610612754  2018-10-17 00:00:00.000000  21800005         1
5     1610612753  2018-10-17 00:00:00.000000  21800006         1
6     1610612752  2018-10-17 00:00:00.000000  21800007         1
7     1610612761  2018-10-17 00:00:00.000000  21800008         1
8     1610612745  2018-10-17 00:00:00.000000  21800009         1
9     1610612759  2018-10-17 00:00:00.000000  21800010         1
10    1610612758  2018-10-17 00:00:00.000000  21800011         1
11    1610612746  2018-10-17 00:00:00.000000  21800012         1
12    1610612756  2018-10-17 00:00:00.000000  21800013         1
13    1610612755  2018-10-18 00:00:00.000000  21800014         1
14    1610612764  2018-10-18 00:00:00.000000  21800015         1
15    1610612757  2018-10-18 00:00:00.000000  21800016         1
16    1610612753  2018-10-19 00:00:00.000000  21800017         1
17    1610612751  2018-10-19 00:00:00.000000  21800018         1
18    1610612761  2018-10-19 00:00:00.000000  21800019         1
19    1610612763  2018-10-19 00:00:00.000000  21800020         1
20    1610612750  2018-10-19 00:00:00.000000  21800021         1
21    1610612740  2018-10-19 00:00:00.000000  21800022         1
22    1610612749  2018-10-19 00:00:00.000000  21800023         1
23    1610612762  2018-10-19 00:00:00.000000  21800024         1
24    1610612746  2018-10-19 00:00:00.000000  21800025         1
25    1610612754  2018-10-20 00:00:00.000000  21800026         1
26    1610612764  2018-10-20 00:00:00.000000  21800027         1
27    1610612752  2018-10-20 00:00:00.000000  21800028         1
28    1610612755  2018-10-20 00:00:00.000000  21800029         1
29    1610612748  2018-10-20 00:00:00.000000  21800030         1
...          ...                         ...       ...       ...
2430  1610612756  2019-04-07 00:00:00.000000  21801200         0
2431  1610612737  2019-04-07 00:00:00.000000  21801202         0
2432  1610612753  2019-04-07 00:00:00.000000  21801203         0
2433  1610612764  2019-04-07 00:00:00.000000  21801204         0
2434  1610612746  2019-04-07 00:00:00.000000  21801205         0
2435  1610612743  2019-04-07 00:00:00.000000  21801206         0
2436  1610612740  2019-04-07 00:00:00.000000  21801207         0
2437  1610612762  2019-04-07 00:00:00.000000  21801208         0
2438  1610612766  2019-04-09 00:00:00.000000  21801209         0
2439  1610612763  2019-04-09 00:00:00.000000  21801210         0
2440  1610612738  2019-04-09 00:00:00.000000  21801211         0
2441  1610612755  2019-04-09 00:00:00.000000  21801212         0
2442  1610612752  2019-04-09 00:00:00.000000  21801213         0
2443  1610612761  2019-04-09 00:00:00.000000  21801214         0
2444  1610612744  2019-04-09 00:00:00.000000  21801215         0
2445  1610612756  2019-04-09 00:00:00.000000  21801216         0
2446  1610612743  2019-04-09 00:00:00.000000  21801217         0
2447  1610612745  2019-04-09 00:00:00.000000  21801218         0
2448  1610612757  2019-04-09 00:00:00.000000  21801219         0
2449  1610612754  2019-04-10 00:00:00.000000  21801220         0
2450  1610612748  2019-04-10 00:00:00.000000  21801221         0
2451  1610612753  2019-04-10 00:00:00.000000  21801222         0
2452  1610612765  2019-04-10 00:00:00.000000  21801223         0
2453  1610612741  2019-04-10 00:00:00.000000  21801224         0
2454  1610612744  2019-04-10 00:00:00.000000  21801225         0
2455  1610612760  2019-04-10 00:00:00.000000  21801226         0
2456  1610612742  2019-04-10 00:00:00.000000  21801227         0
2457  1610612750  2019-04-10 00:00:00.000000  21801228         0
2458  1610612762  2019-04-10 00:00:00.000000  21801229         0
2459  1610612758  2019-04-10 00:00:00.000000  21801230         0

[2460 rows x 4 columns]